.backdrop{
    background-color: var(--color-primary-600);
    padding: 5% .5% 0 .5%;
}

.header{
    text-align: center;
    color: #fff;
}

.header h1{
    background: linear-gradient(90deg, var(--color-flavescent) 7.5%, var(--color-green-300) 107.24%);
    background: -webkit-linear-gradient(90deg, var(--color-flavescent) 7.5%, var(--color-green-300) 107.24%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'CabinetGrotesk-Extrabold';
    font-size: 95px;
    line-height: .7;
    padding-top: 5rem;
}

.header p{
    font-family: 'CabinetGrotesk-Medium';
    font-size: 15px;
    line-height: 2.5;
    padding: 1rem 0 1.7rem 0;
}

.btn{
    font: inherit;
    background-color: #fff;
    padding: 1.15rem 3rem;
    border-radius: 27px;
    color: var(--color-primary-500);
}

.btn:hover, .btn.active, .btn:active{
    background-color: var(--color-primary-300);
    color: #fff;
}

.product-tour{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10.5rem;
}

.left{
    width: 35rem;
    transform: rotateZ(-18deg) translateX(30%);
}

.right{
    width: 35rem;
    transform: rotateZ(20deg) translateX(-40%);
}

.infometrics{
    background-color: var(--color-primary-300);
    font-size: 12px;
    color: #fff;
    width: 178px;
    height: 60px;
    border-radius: 18px;
    text-align: center;
    padding: 0 .12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-55%, -460%);
    z-index: 2;
}

.verified {
    background-color: #fff;
    padding: .25rem;
    width: 24px;
    border-radius: 50%;
}

@media screen and (max-width: 991px){
    .header h1{
        font-size: 50px;
        line-height: 1;
    }

    .header p{
        font-size: 13px;
    }

    .left{
        width: 25rem;
        transform: translate(30%, -17%);
    }
    
    .right{
        width: 25rem;
        transform: translate(-40%, -17%);
    }

    .infometrics{
        font-size: 10px;
        border-radius: 8px;
        padding: .125rem .75rem;
        transform: translate(-105%, -320%);
    }

    .verified {
        width: 20px;
    }
}


