.active{
    color: var(--color-amber);
}


.header{
    padding: 4% 5%;
    background-color: var(--color-primary-600);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'CabinetGrotesk-Medium';
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.toggle-icon{
    color: #fff;
    font-size: 24px;
    display: none;
}


.logo:hover, .logo.active, .logo:active{
    color: #fff;
}

.logo-image{
    width: 36px;
    vertical-align: middle;
}


i{
    vertical-align: middle;
}

.main-list{
    display: flex;
    list-style: none;
    margin: 0 3.5rem;
}

.span:before{
    content: '';
    display: inline-block;
    width: .25rem;
}

.secondary-list{
    display: flex;
    list-style: none;
    margin-left: 3.5rem;
}

.globe-icon{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--color-primary-200);
    vertical-align: middle;
    padding: .125rem;
    border: 1px solid #fff;
}

.main-list li{
    margin: 0 1.5rem;
}

.secondary-list li{
    margin: 0 .75rem;
    vertical-align: middle;
}

.main-nav .btn{
    background-color: var(--color-primary-300);
    padding: 1rem 2.25rem;
    border-radius: 25px;
}

.main-nav .btn.active, .main-nav .btn:hover, .main-nav .btn:active{
    background-color: var(--color-primary-400);
    color: #fff;
}

.beta{
    border-radius: .5rem;
    border: 1px solid #fff;
    padding: .125rem .25rem;
}

.beta:hover, .beta.active, .beta:active, a:hover .beta, a:active .beta, a.active .beta{
    border: 1px solid  var(--color-amber);
}

@media screen and (max-width: 991px){
    .toggle-icon{
        display: block;
    }

    .main-nav{
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1287px){
    .main-list li{
        margin: 0 .9rem;
    }


    .main-nav .btn{
        width: 150px;
        font-size: 13px;
        padding: .5rem 1.3rem;
    }

    .secondary-list li{
        margin: 0 .35rem;
    }

    .last-item{
        display: none;
    }

    .header{
        padding: 4% 2.5%;
    }

    .main-list{
        margin: 0 7.5rem 0 0;
    }
    
    .secondary-list{
        margin-left: .5rem;
    }

}